.height-control {
    overflow: hidden;
    height: 460px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.plyr__control--overlaid {
    background: $colour-1 !important;
    padding: calc(var(--plyr-control-spacing,10px) * 2) !important;

    svg {
        fill: white !important;
    }
}

.wplyr-player > .plyr {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.rollover {
    width: 100%;
    height: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat !important;

    h1 {
        color: $shade-2;
        padding: 0rem 1rem 0rem 1rem;
        background: #00000085;
        line-height: 1.2;
    }
}

.projects-header {
    text-align: center;
    color: $shade-4;
    font-size: 48px;
}

.single-post {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(min-width: 801px) {
        padding: 10px !important;
    }
    .background {
        height: 205px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 30px;
    }
    h4 {
        color: $shade-4;
        line-height: 1.2;
    }

    p {
        font-size: 18px;
        line-height: 1.7;
    }

    .blog-details {
        padding: 0 50px;

        h4 {
            a {
                color: $shade-4;

                &:hover {
                    color: $colour-1;
                }
            }
        }
    }

    .more-button {
        background-color: transparent;
        border: 3px solid #16CF60;
        color: #16CF60 !important;
        font-family: "Poppins-Medium", sans-serif;
        border-radius: 2px;
        font-size: 15px;
        width: 100%;
        cursor: pointer;
        display: inline-block;
        display: table;
        line-height: 3rem;
        padding: 0.2rem 1.5rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        transition: .5s ease-in-out;
        transition-property: color,background-color,border-color;

        &:hover {
            background: $colour-1;
            color: white !important;   
        }
    }
    @media(min-width: 801px) {
    &:nth-child(3n+1) {
            padding-right: 10px !important;
            padding-left: 20px !important;
        }
    }
}

.pagination {
    max-width: unset !important;
    text-align: center;
    background: $shade-4;
    padding: 30px 0 !important;
    color: white;

    span {
        &.page-numbers {
            &.current {
                font-family: $font-regular;
                color: $colour-1;
                font-size: 18px;
                padding-right: 10px;
            }
        }
    }

    a {
        &.page-numbers {
            font-family: $font-regular;
            color: white;
            font-size: 18px;
            padding-right: 10px;

            &:hover {
                color: $colour-1;
            }
        }

        &.next,
        &.prev {
            &.page-numbers {
                font-family: $font-regular;
                color: white;

                &:hover {
                    color: $colour-1;
                }
            }
        }
    }
}