/*-----------------------------------*/
/*  Footer
/*-----------------------------------*/

#footer {
    padding-top: 60px;
    position: relative;

    // .grid {
    //     .col-3 {
    //         &:first-child {
    //             padding-left: 0 !important;
    //         }
    //     }
    // }

    .location {
        strong {
            display: inline-block;
            font-family: $font-bold;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 1;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 5px;
            font-size: 15px;
            font-family: $font-regular;
        }
    }

    .links {
        strong{
            font-family: $font-bold;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 1;
            margin-bottom: 20px;
            display: inline-block;

        }

        div {
            ul {
                li {
                    font-size: 15px;
                    line-height: 1.5;
                    margin-bottom: 5px;
                    a {
                        font-family: $font-regular;
                        color: $shade-1;

                        &:hover {
                            color: $colour-1;
                        }
                    }
                }
            }
        }
    }

    .flex {
        display: flex;
        margin-top: 40px;

        img {
            max-height: 60px;
            margin-right:20px;
        }
    }

    .copyright {
        padding-top: 80px;
        padding-bottom: 20px;
        font-size: 10px;
        font-family: $font-regular;
        // position: absolute;
        display: flex;
        justify-content: center;
        bottom: 0;
        left: 0;
        width: 100%;
        
        p {
            font-size: 10px;
        }
    }
}

.social-links-holder {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;   

    h3 {
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 0;
        margin-right: 20px;
        font-family: $font-regular;
    }

    a {
        background: #5C6164;
        color: #fff;
        width: 10px;
        height: 10px;
        font-size: 16px;
        border-radius: 50%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        transition: 0.5s ease;

        &:hover {
            background: $colour-1;
        }
    }

    // a svg {
    //     background: #FFFFFF;
    //     color: #3C3F41;
    //     width: 10px;
    //     height: 10px;
    //     font-size: 16px;
    //     border-radius: 50%;
    //     padding: 15px;

    //     path {

    //     }
    // }
}