/*-----------------------------------*/
/*  Header
/*-----------------------------------*/

body{
    padding-top: $header-height;
}

[class*="col-"],
[class~="col"] {
    padding: 20px 20px 20px;
}

header#header {
    height: $header-height;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $shade-2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
    transition: height 0.5s ease;

    a{
        color: $shade-1;
    }

    .toolbar-holder {
        position: relative;
        display: flex;
        align-items: center;
        height: $header-height;

        .socials {
            transform: translateY(5px);
            padding-right: 0 !important;
            padding-left: 0 !important;
            transition: padding-top 0.5s ease;
            a {
                padding-right: 1rem;
                transition: all 0.5s ease;

                svg {
                    path {
                        &:first-child {
                            transition: all 0.5s ease;
                        }
                    }
                }

                &:hover {
                    svg {
                        path {
                            &:first-child {
                                fill: $colour-1;
                                transition: all 0.5s ease;
                            }
                        }
                    }
                }
            }
        }

        // .col-2 {
        //     padding-left: 0 !important;
        // }

        .col-4 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .menu-holder {    
        transition: padding-top 0.5s ease;
        margin-left: 7.33%;
        nav{
            ul{
                text-align: center;
                li{
                    display: inline-block;
                    a{
                        padding-left: 15px;
                        padding-right: 15px;
                        color: $colour-3;
                        font-family: $font-medium;
                        font-size: 13px;
                        text-transform: uppercase;
                        &:hover{
                            color: $colour-1;
                        }
                    }

                    &.menu-item-has-children {
                        position: relative;
                        
                        a {
                            padding-bottom: 60px;
                        }

                        ul {
                            &.sub-menu {
                                display: none;
                            }
                        }

                        &:hover {
                            ul {
                                &.sub-menu {
                                    display: block;
                                    position: absolute;
                                    background: rgba(58, 57, 57, 1);
                                    top: 52.5px;
                                    width: 180px;

                                    li {
                                        display: block;
                                        text-align: left;

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        a {
                                            display: block;
                                            padding-bottom: 10px;
                                            padding-top: 10px;
                                            color: white;
                                            font-size: 11px;

                                            &:hover {
                                                background: $colour-1;
                                                color: $shade-2;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .fas {
                            margin-left: 0;
                            font-size: 13px;
                            transform: translate(-14px, -2px);
                            color: $shade-3;
                        }
                    }

                    &.active {
                        a {
                            color: $colour-1;
                        }
                    }
                }
            }
        }
    }

    .logo-holder img {
        transition: max-width 0.5s ease;
    }

    
    &.scrolled{
        height: 60px;

        .logo-holder {
            padding-top: 10px !important;
            img {
                max-width: 110px;
                transition: max-width 0.5s ease;
            }
        }

        .menu-holder {
            transition: padding-top 0.5s ease;
            padding-top: 0 !important;
        }

        .cta-holder {
            transition: padding-top 0.5s ease;
            padding-top: 10px;
        }

        nav {
            ul {
                li {
                    &.menu-item-has-children {
                        &:hover {
                            ul {
                                &.sub-menu {
                                    top: 48px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .socials {
            padding-top: 0 !important;
        }
    }
}

.cta-holder {
    &.scrolled {
        height: 60px;
        position: fixed;
    }
}

.cta-holder {
    position: fixed;
    right: 0;
    top: 0;
    height: $header-height;
    z-index: 10;
    transition: height 0.5s ease;

    a {
        background-color: $colour-1;
        font-size: 12px;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        color: $shade-2;
        text-transform: uppercase;
        transition: background-color 0.5s ease;

        &:hover {
            background-color: $shade-4;
        }
    }
}

body.admin-bar {
    header#header {
        top: 32px;
    }
    .cta-holder {
        position: fixed;
        top: 32px;
    }
}

.image-fixed {
    .slick-list {
        height: 100% !important;
    }
}