.home-hero {
    .grid {
        h1 {
            position: relative;
            z-index: 2;
            color: $shade-2;
            text-transform: uppercase;
            @media(max-width: 1280px) {
                font-size: 69px;
                padding-top: 20px;
            }
            font-size: 88px;
            padding-top: 20px;
            line-height: 1.3;
            margin-bottom: 40px;
        }

        a {
            position: relative;
            &.button {
                z-index: 2;
            }
        }
    }

    .show-bg {
        &:before {
            content: '';
            background-color: rgba(58, 57, 57, 0.85);
            clip-path: polygon(0% 0%, 70% 0, 100% 53%, 70% 100%, 0% 100%);
            width: 65%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
}

.acf-map {
    width: 100%;
    height: 400px;
}
.acf-map img {
   max-width: inherit !important;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
}

.image-fixed {
    position: absolute !important;
    top: 0 !important;
    bottom: 0;
    right: 0;
    left: 0 !important;
    height: 100%;
    width: 40%;
    pointer-events: none;
    overflow: hidden;

    .the-image {
        height: 700px !important;
        background-position: center center !important;
        background-repeat: no-repeat;
        clip-path: polygon(51% 0, 100% 52%, 59% 100%, 0% 100%, 0 48%, 0% 0%);
        top: -80px !important;
        background-size: cover;
    }
}
  
.left {
    position: absolute;
    width: calc(50% - 20px);
    top: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: left center;

    &::after {
        content: '';
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 48% 100%, 89% 50%, 46% 0);
        background: $shade-4;
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        transform: translateX(2px);
        z-index: 1;
    }
}
  
.right{
    position: absolute;
    width: calc(50% - 20px);
    top: 0;
    bottom: 0;
    right: -40px;
    background-size: cover;
    background-position: right center;

    &::before {
        content: '';
        clip-path: polygon(43% 0, 11% 52%, 41% 100%, 0 100%, 0 52%, 0 0);
        background: $shade-4;
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-1px);
        z-index: 1;
    }
}

.adjustable-block {
    position: relative;
    padding: 100px 0;
    display: flex;
    align-items: center;
    min-height: 600px;

    .cta-button {
        margin-top: 40px;
    }
    h3 {
        margin-bottom: 40px;
    }

    &.bg-1 {
        h2, h3, h4 , h5, h6 {
            color: white;
        }    
    }

    &.bg {
        h2, h3, h4 , h5, h6 {
            color: $shade-4;
        }
    }
}

.testimonials {
    position: relative;
    overflow: hidden;
    padding-top: 110px;
    padding-bottom: 70px;
    min-height: 600px;

    h3 {
        font-family: $font-bold;
        text-transform: uppercase;
        font-size: 48px;
        text-align: center;
        color: $shade-6;
    }
    .image-overlay {
        position: relative;
    }
    .heading {
        transform: translate(180px, -30px);
    }
    .slider-nav {
        @media(min-width: 900px) {
            margin-left: 2rem;
        }
    }
    // .slick-slider {
    //     img {
    //         position: absolute;
    //     }
    // }

    .slider-for {
        position: relative;
    }

    .testimonial-details {
        display: flex;
        justify-content: space-between;
        position: relative;

        img {
            &.first-quote {
                width: 10%;
                height: 43px;
                margin-top: 6px;
                margin-right: 19px;
            }
            &.second-quote {
                position: absolute;
                bottom: 0;
                width: 10%;
                height: 50px;
                right: 0;
                margin-left: 19px;
            }
        }

        span {
            font-family: $font-bold;
            margin-right: 1rem;
            text-transform: uppercase;
            font-size: 18px;
        }

        p {
            font-family: $font-regular;
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 40px;
        }
    }

    .first-col {
        .col-5 {
            padding-left: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
}

.contact-block {
    .col-10 {
        padding-bottom: 0 !important;
    }
}

.full-width {

    .contact-block {
        .col-12,
        .col-6 {
            padding-bottom: 0 !important;
            padding-left: 0 !important;
        }
        .col-10 {
            padding-bottom: 0 !important;
        }
    }

    padding-top: 80px;
    padding-bottom: 60px;

    h3 {
        text-transform: uppercase;
        text-align: center;
        font-size: 48px;
    }
    
}

form {
    
    .col-12,
    .col-6 {
        padding-bottom: 0 !important;
        padding-left: 0 !important;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"] {
        width: 100%;
        background: rgba(82, 82, 82, 1);
        border: none;
        color: $shade-5;
        font-size: 15px;
        padding: 0.5rem 0 0.5rem 0.8rem;

        &:focus {
            outline: none;
        }
    }

    textarea {
        width: 100%;
        background: rgba(82, 82, 82, 1);
        font-size: 15px;
        border: none;
        resize: none;
        padding: 0.5rem 0 0.5rem 0.8rem;
        color: $shade-5;
        margin-bottom: 20px;
        height: 100px;
        margin-bottom: 40px;

        &:focus {
            outline: none;
        }
    }

    h3 {
        text-transform: uppercase;
        text-align: center;
        font-size: 48px;
        padding-bottom: 20px;
    }

    .submit-button {
        .button {
            padding: 0.2rem 4.2rem;
        }
    }
}

input[type="submit"] {
    transition: 0.5s ease;
}

.projects {
    @media(min-width: 801px) {
        padding-bottom: 120px;
    }
}