.bg-1{
  background-color: $shade-4;
  color: $shade-2;

  h3 {
    font-size: 48px;
    color: white;
    font-family: $font-bold;
  }
  
  p {
    font-size: 18px;
    font-family: $font-regular;
    line-height: 1.6;
  }
}

.bg-2{
  background-color: $colour-2;
  color: $shade-2;

  h3 {
    font-size: 48px;
  }
  
  p {
    font-size: 18px;
    font-family: $font-regular;
    line-height: 1.6;
  }
}

.bg {
  .image-overlay {
    .right {
      &::before {
        background: white;
      }
    }
  }
}

.cta {
  padding: 40px 0;
  background: $colour-1;

  p {
    margin-bottom: 0;
    font-family: $font-bold;
    font-size: 24px;
  }

  .col-2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.white-button {
  background-color: transparent;
  border: 3px solid white;
  color: white !important;
  font-family: "Poppins-Medium", sans-serif;
  border-radius: 2px;
  font-size: 13px;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  // display: table;
  line-height: 3rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: .5s ease-in-out;
  transition-property: color,background-color,border-color;

  &:hover {
      background: white;
      color: $colour-1 !important;   
  }
}

.has-large-font-size {
  font-size: 48px !important;
  text-transform: uppercase;
  color: $shade-4;
  font-family: $font-bold;
  line-height: 1.1;
}

.advgb-images-slider .advgb-image-slider-item-info {
  top: auto !important;
  background: #3a393985;
  padding: 10px;
}

.advgb-images-slider .advgb-image-slider-item img {
  object-fit: cover;
}

.simple-sitemap-container {
  padding: 0 20px
}

.simple-sitemap-wrap {
  h3 {
    font-size: 28px;
    font-family: $font-bold;
  }
}

blockquote.wp-block-quote {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  @media(min-width: 801px) {
    max-width: 600px;
    flex-direction: row-reverse;
    padding: 40px 0;
  }
  margin-right: auto;
  position: relative;
  padding: 40px 20px;

  p {
    font-size: 18px;
    font-style: italic;

    &::after {
      content: '';
      background: url('../images/quote-out.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      height: 63px;
      width: 52px;
      right: 0;
      bottom: unset;
    }
  }

  cite {
    margin-right: 20px;
    font-size: 24px;
    font-family: $font-bold;
    font-style: normal;
    position: relative;

    &::before {
      content: '';
      background: url('../images/quote-in.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      height: 63px;
      width: 52px;
      top: 6px;
      left: -65px;
      right: 0;
      bottom: 0;
    }
  }
}

@media(max-width: 800px) {
  blockquote.wp-block-quote {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    width: 100%;
    flex-direction: column-reverse !important;
    margin-right: auto;
    position: relative;
    padding: 40px 20px;
  
    p {
      font-size: 18px;
      font-style: italic;
  
      &::after {
        content: '';
        background: url('../images/quote-out.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        height: 20px;
        width: 62px;
        right: 0;
        bottom: 20px;
      }
    }
  
    cite {
      margin-right: 20px;
      font-size: 24px;
      font-family: $font-bold;
      font-style: normal;
      position: relative;
  
      &::before {
        content: '';
        background: url('../images/quote-in.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        height: 28px;
        width: 17px;
        top: -19px;
        left: 0px;
        right: 0;
        bottom: 0;
      }
    }
  }
}