.mobile{
  display: none;
}

/*
ADD YOU SCREEN SIZES BETWEEN 800PX AND FULL DESKTOP HERE
 */

// .wp-block-gallery {
//   .blocks-gallery-item {
//     padding: 0 0 40px !important;
//   }
// }

@media(min-width: 801px) and (max-width: 1024px) {
  .adjustable-block.left-mob {
    .text-section {
      text-align: right !important;
    }
  }
  .adjustable-block.right-mob {
    .text-section {
      text-align: left !important;
    }
  }
}

@media all and (max-width:800px) {

  .single-post {
    padding: 0;
  }

  .copyright {
    padding-top: 40px;
  }

  .projects-header {
    font-size: 38px;
    padding-top: 0px;

    h1 {
      margin-bottom: 0;
    }
  }

   .wp-block-media-text {
     padding-bottom: 40px;
    .wp-block-media-text__media {
      width: 100%;
    }

    &.is-stacked-on-mobile {
      flex-direction: column-reverse;
    }

    &.has-media-on-the-right.is-stacked-on-mobile {
      flex-direction: column-reverse;
    }
  }

  .wp-block-media-text {
    .wp-block-media-text__content {
      width: 100%;
      padding: 0;
    }
  }

  .has-large-font-size {
    font-size: 38px !important;
  }
  
  .full-width {
    padding-top: 40px;

    h3 {
      font-size: 35px;
    }
  }

  .wp-block-columns {
    flex-direction: column;

    .wp-block-column {
      padding: 0;
    }
  }

  .pagination {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
  }

  .testimonials {
    height: auto;
    min-height: auto;
    h3 {
      font-size: 35px;
      position: relative;
      z-index: 10;
      color: $shade-3;
    }
    padding-top: 20px;
    padding-bottom: 40px;

    .image-fixed .the-image {
      clip-path: none;
      // top: -280px !important;
      background-size: cover !important;
      height: 1000px !important;
      top: unset !important;
    }
    .image-fixed {
      width: 100%;
      height: 100%;
      top: unset !important;
      bottom: 0 !important;
    }
    .heading {
      transform: unset;
    }
    .testimonial-details {
      background: #ffffffd6;
      padding: 10px;
      span,
      p {
        font-size: 13px;
        margin-bottom: 0;
      }
      p {
        padding-right: 0;
      }
      .author-name {
        margin-bottom: 10px;
      }
    }
    .testimonials .slider-nav {
      margin-left: 0 !important;
    }
    .testimonial-details img.first-quote {
      display: none;
    }
    .testimonial-details img.second-quote {
      display: none;
    }
    .testimonial-details {
      flex-direction: column;
    }
  }

  body {
    padding-top: 55px;
  }

  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  .grid, .grid-middle{
    flex-direction: column;
    width: 100%;
  }
  [class^="col"]{
    width: 100%;
    max-width: 100% !important;
  }

  form .col-12, form .col-6 {
    padding-right: 0 !important;
  } 

  .submit-button {
    input[type="submit"] {
      width: 100%;
    }
  }

  .home-hero .grid h1 {
    font-size: 39px;
    padding-top: 20px;
  }

  .menu-holder,
  .logo-holder,
  .socials, 
  #menu-main-menu-1{
    display: none;
  }

  #mobile-logo {
    position: fixed;
    top: -3px;
    z-index: 20;

    img {
      max-width: 160px !important;
    }
  }

  .cta-holder {
    right: 74px;
    height: 55px;
    z-index: 20;

    a {
      padding: 0 10px !important;
    }

    &.scrolled {
      height: 55px;
    }
  }

  .home-hero {
    .show-bg {
      position: relative;
      &::before {
        content: '';
        width: 100%;
        height: 130%;
      }
    }
  }

  .fullscreen {
    height: 100%;
    padding-bottom: 4rem;
    overflow: hidden;
  }

  header#header {
    display: none;
  }

  #mobile-cta,
  #menu-main-menu {
    display: none;
  }

  .adjustable-block {
    padding: 20px 0;
    &.bg-1,
    &.bg-2,
    &.bg {
      padding-bottom: 250px;
      padding-top: 40px;
    }

    h3 {
      font-size: 30px;
    }

    [class^="col"] {
      width: 100%;
      max-width: 100%;
      flex-basis: 100% !important;
    } 

    .image-overlay {
      position: absolute;
      top: auto;
      bottom: 0;
      right: auto;
      left: 0;
      height: 300px;
      width: 100%;
      pointer-events: none;
      overflow: hidden;

      &::before {
        display: none;
      }
    }

    .text-section {
      padding-bottom: 40px !important;
    }

    .right {
      position: absolute;
      width: 100%;
      top: -80px;
      bottom: -80px;
      left: 0;
      background-size: cover;
      // border-radius: 400px 0px 0px 400px;
      border-radius: 0;
      background-position: center center;

      &::before {
        clip-path: none;
        display: none;
      }
    }

    .left {
      position: absolute;
      width: 100%;
      top: -80px;
      bottom: -80px;
      left: 0;
      background-size: cover;
      // border-radius: 400px 0px 0px 400px;
      border-radius: 0;
      background-position: center center;

      &::after {
        clip-path: none;
        display: none;
      }
    }
  }

  body.admin-bar .cta-holder {
    top: 0;
  }

  .height-control {
    height: 260px;
    margin-bottom: 0;
  }

  .rollover {
    h1 {
      margin-bottom: 0;
    }
  }

  .wp-block-image {
    img {
      height: auto;
    }
  }

  .wp-block-gallery .blocks-gallery-grid {
    flex-direction: column;

    .blocks-gallery-item {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 20px;
    }
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 29px;
  }
}

@media(max-width: 1152px) {
  header#header .menu-holder nav ul li a {
    font-size: 9px;
  }
  .cta-holder a {
    font-size: 11px;
  }
  // header#header .menu-holder {
  //   margin-left: 8.33%;
  //   margin-right: 6.33%;
  // }
}

@media(max-width: 980px) {
  #menu-main-menu-1{
    display: none;
  }
  .desktop{
    display: none;
  }
  .mobile {
    display: block;
  }
  .menu-holder {
    display: none;
  }
  .cta-holder {
    z-index: 20;
    height: 55px;
    right: 74px;

    
    &.scrolled {
      height: 55px;
    }
  }
  #mobile-logo {
    position: fixed;
    top: -3px;
    z-index: 20;

    img {
      max-width: 180px;
    }
  }
  #mobile-cta,
  #menu-main-menu {
    display: none;
  }

  body {
    padding-top: 50px;
  }
}

@media(min-width: 801px) {
  .has-large-font-size {
    margin-bottom: 40px;
  }
}

@media(min-width: 981px) {
  #mobile-logo,
  #mobile-cta {
    display: none;
  }
}

@media(max-width: 1016px) {
  .socials {
    display: none;
  }
}

@media(min-width: 767px) and (max-width: 768px) {
  .home-hero .grid h1 { 
    padding-right: 24rem;
  }
}

@media(max-width: 320px) {
  #mobile-logo {
    img {
      max-width: 140px !important;
    }
  }
}