body{
  font-family: $font-regular;
  font-size: 20px;
  color: $shade-1;
  i{
    font-family: $font-regular;
	  font-style: italic;
    b, strong{
      font-family: $font-regular;
		font-weight: bold;
    }
  }
  b, strong{
    font-family: $font-bold;
	  font-weight: bold;
    i{
      font-family: $font-bold;
		font-style: italic;
    }
  }
}

.wp-block-column {
  ul:not(.blocks-gallery-grid),ol {
    padding-left: 20px;
    li {
     font-size: 18px;
     line-height: 1.5;
    }
  }

  h5 {
    font-family: $font-regular;
    margin-top: 0;
  }

  h6 {
    margin-top: 0;
    text-transform: uppercase;
  }
}

.wp-block-gallery .blocks-gallery-item figure img {
  object-fit: cover;
  height: 250px !important;
  width: 100%;
}

@media(min-width: 801px) {
  .wp-block-gallery .blocks-gallery-item {
    flex-grow: 1;
    padding: 0 10px 20px !important;
  }
}

p, span, blockquote, ul, ol, li{
}

h1, h2, h3, h4, h5, h6,legend{
  font-family: $font-bold;
  margin-bottom: 20px;
}

h1 {
  font-size: 68px;
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: $shade-4;
}

h3,
legend {
  font-family: $font-light;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 400;
  color: $shade-4;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

a:link, a:active, a:visited{
  text-decoration: none;
  color: $colour-1;
  transition: all 0.5s ;
}
a:hover{
  color: $colour-1h;
}

p{
  line-height: 120%;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 18px;
}