.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.background-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.no-margin{
  margin: 0px !important;
}

.no-padding{
  padding: 0px !important;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.fullscreen{
  min-height: calc(100vh - 75px);
  display: flex;
  .grid{
    height: 100%;
  }
  position: relative;
}

.wp-bg-img {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

// Text Utilities
// Block Utilities

// Button style from global.scss
.button, 
button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
  background-color: transparent; 
  border: 3px solid $colour-1; 
  color: $colour-1;
  font-family: $font-medium; 
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer; 
  display: inline-block; 
  display: table;
  line-height: 3rem; 
  padding: 0.2rem 1.5rem; 
  text-align: center; 
  text-decoration: none; 
  text-transform: uppercase; 
  white-space: nowrap; 
  transition: .1s ease-in-out; 
  transition-property: color,background-color,border-color;
  &:hover, &:focus { 
    text-decoration: none; 
    background-color: $colour-1; 
    border-color: $colour-1; 
    color: white;
    outline: 0;
  }
  &.outlined {
    background-color: $shade-2; 
    border: 0.1rem solid $colour-1; 
    color: $colour-1;
    &:hover, &:focus { 
      background-color: $colour-1; 
      border-color: $colour-1; 
      color: $shade-2;
    }
  }
}