.wp-block-columns {
    display: flex;
    flex-flow: row wrap;
    margin: 0 (-$gl-gutter/2);

	.wp-block-column {
        padding: 0 ($gl-gutter/2) $gl-gutter-vertical;
        max-width: 100%;
        flex: 1 1 0%;

        .has-text-align-center {
            text-align: center;
        }
    }
}


.padding-top {
    padding-top: 80px;
}

.are-vertically-aligned-center {
    align-items: center;
}

main > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignleft):not(.alignright):not(.wp-block-separator):not(section):not(.wp-block-group):not(.wp-block-media-text.alignwide):not(#footer):not(.testimonials),
main > .wp-block-group:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator) > .wp-block-group__inner-container {
    max-width: $max-width;
    @media(min-width: 1281px) {
        max-width: $max-width;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media(max-width: 800px) {
        max-width: 1400px;
        width: 100%;
        padding: 0 ($gl-gutter/2);
        padding-top: 40px;
        padding-bottom: 20px;
    }
    margin-left: auto;
    margin-right: auto;
}

.wp-block-group {
    .wp-block-group__inner-container {
        .alignwide {
            max-width: $max-width;
            margin: auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }  
    }
}

.has-bg-2-color,
.has-bg-color {
    background-color: $shade-4;
    padding-top: 60px;
    padding-bottom: 40px;
    
    p {
        color: white;
    }

    h3,
    h2 {
        color: white;
        font-family: $font-bold;
    }
}

.has-bg-1-background-color {
    background-color: $shade-4;
    color: white;
    padding-top: 60px;
    padding-bottom: 40px;

    h1,h2,h3,h4,h5,h6,p {
        color: white;
    }

    input[type="submit"] {
        &:hover {
            color: $shade-4;
        }
    }
}

.has-text-align-center {
    text-align: center;
}

.rollover {
    h1 {
        text-align: center;
    }
}

.back-link {
    a svg {
        margin-right: 20px;
    }
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450;
    width: 100%;
    overflow: hidden;
    max-width: 690px;
    margin: auto;
}

.wpcf7-not-valid-tip {
    font-size: 12px;
}

.wpcf7 form.invalid .wpcf7-response-output {
    width: 100%;
    overflow: hidden;
    max-width: 690px;
    margin: auto;
}

.wpcf7 form.failed .wpcf7-response-output {
    width: 100%;
    overflow: hidden;
    max-width: 690px;
    margin: auto;
}

.wpcf7 .ajax-loader {
    left: 170px;
    top: -40px;
}

.plyr__control svg {
    fill: $shade-6;

    &:hover {
        fill: $colour-1 !important; 
    }
}

.plyr--video .plyr__control:hover {
    background: none !important;
}