.wp-block-gallery {
    @media(max-width: 800px) {
        padding-top: 60px;
    }
    .blocks-gallery-grid {
        display: flex;
        flex-wrap: wrap;
        // margin: 0 (-$gl-gutter/2);
        @media(min-width: 801px) {
            left: -10px;
            position: relative;
            width: calc(100% + 20px);
            padding-left: 20px;
            padding-right: 20px;
        }    
    }

	.blocks-gallery-image,
	.blocks-gallery-item {
        flex-grow: 1;
        padding: 0 ($gl-gutter/2) ($gl-gutter);

        figure {
            display: flex;
            height: 100%;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
    
    &.columns-2 {
        .blocks-gallery-image,
        .blocks-gallery-item {
            flex-basis: 50%;
        }
    }

    &.columns-3 {
        .blocks-gallery-image,
        .blocks-gallery-item {
            flex-basis: 33.33333%;
        }
    }

    &.columns-4 {
        .blocks-gallery-image,
        .blocks-gallery-item {
            flex-basis: 25%;
        }
    }

    &.columns-5 {
        .blocks-gallery-image,
        .blocks-gallery-item {
            flex-basis: 50%;
        }
    }
}

// Updated new html format for Gallery Block

.wp-block-gallery.has-nested-images {
    display: flex;
    flex-wrap: wrap;
    @media(min-width: 801px) {
        left: -10px;
        position: relative;
        width: calc(100% + 20px);
        padding-left: 20px;
        padding-right: 20px;
    }    
}

.wp-block-gallery.has-nested-images .wp-block-image {
    flex-basis: 33.33333%;
    flex-grow: 1;
    padding: 0 10px 40px !important;
}

.wp-block-gallery.has-nested-images .wp-block-image img {
	object-fit: cover;
	height: 250px;
}