// .wp-block-group {
// 	.wp-block-group__inner-container {
//         // make this a container
//         @extend .container;
// 	}
// }

// .wp-block-group .wp-block-group__inner-container {
//     max-width: 1180px;
//     margin: 0 auto;
//     padding: 0 20px;
//     position: relative;
// }

main > * {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

main > *:not(.alignfull):not(.wp-block-group):not(section):not(.adjustable-block):not(.testimonials) {
    max-width: $max-width;

    @media (max-width: 80em) { // 1024px
    max-width: 1080px;
    }
    @media (max-width: 48em) { // 768px
    max-width: 720px;
    }
    @media (max-width: 36em) { // 576px
    max-width: 540px;
    }
}