.wp-block-media-text {
    display: flex;
    flex-direction: row;
    .wp-block-media-text__media {
        display: flex;
        width: 50%;
        @media(min-width: 801px) {
            padding: 0 20px;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .wp-block-media-text__content {
        width: 50%;
        @media(min-width: 801px) {
            padding-right: 20px;
            padding-left: 80px;
        }
    }

    &.has-media-on-the-right {
        flex-direction: row-reverse;

        .wp-block-media-text__content {
            @media(min-width: 801px) {
                padding-right: 80px;
                padding-left: 20px;
            }
        }
    }

    &.is-vertically-aligned-top {
        align-items: flex-start;
    }
    
    &.is-vertically-aligned-center {
        align-items: center;
    }
    
    &.is-vertically-aligned-bottom {
        align-items: flex-end;
    }

    &.alignfull {
        .wp-block-media-text__content {
            width: 50%;
            // the bottom two lines makes the text inside the block align with the container
            // padding-left: $gl-gutter;
            // padding-right: calc( ( ( 100vw - 1200px ) / 2 ) + ( #{$gl-gutter} ) );
            padding: 0 $gl-gutter;
        }
    }

    &.has-media-on-the-right.alignfull {
        .wp-block-media-text__content {
            // padding-left: calc( ( ( 100vw - 1200px ) / 2 ) + ( #{$gl-gutter} ) );
            // padding-right: $gl-gutter;
            padding: 0 $gl-gutter;
        }
    }
}